*{
    border: none;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    background-color: red;
}

h1{
    text-align: center;
    color: white;
}

P{
    color: white;
    text-align: right;
    font-size: 40px;
}

.resultado{
    height: 80px;
    line-height: 80px;
}


.btn{
    background-color: rgb(80, 72, 58);
    font-size: 22px;
    color: white;
    height: 50px;
    width: 50px;
    margin: 3px;
    border-radius: 100%;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(48, 48, 48);
}

.btn-0{
    text-align: left;
    padding-left: 20px; 
    width: 96%;
    border-radius: 30px;
}

.btn-l{
    background-color: orange;
}

.btn-b{
    background-color: rgb(214, 214, 214);
    color: black;
}

.container{
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
}